annotated-types
anyio
attrs
babel
bibtexparser
certifi
cffi
charset-normalizer
clldutils
colorama
coloredlogs
colorlog
csvw
dlinfo
espeakng-loader
exceptiongroup
filelock
flatbuffers
fsspec
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
language-tags
llvmlite
lxml
Markdown
MarkupSafe
mlx
more-itertools
mpmath
networkx
numba
numpy
ollama
onnxruntime
onnxruntime-gpu
packaging
phonemizer-fork @ git+https://github.com/thewh1teagle/phonemizer-fork@aa26b4cf2c518386a8c2dcea5c6f0866cde10bd3
protobuf
pycparser
pydantic
pydantic_core
pylatexenc
pyparsing
python-dateutil
PyYAML
rdflib
referencing
regex
requests
rfc3986
rpds-py
scipy
segments
six
sniffio
sounddevice
sympy
tabulate
tiktoken
torch
tqdm
typing_extensions
uritemplate
urllib3
zipp
torch
torchaudio
ctranslate2>=4.5.0
faster-whisper
python-dotenv
silero-vad
torchvision
simpleaudio
chromadb
langchain_ollama
langchain_chroma
pymupdf
langchain